.aboutusContainer{
  margin: 55px 230px;
  display: flex;
  padding: 20px;
}

h3{
  color: #1A906B;
  font-size: 54px;
  font-weight: bold;
  
}

.textSection{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  /* margin: 55px 230px; */
}

.imageSection{
  margin: 50px;
  padding: 40px;
}


.imgBg {
  width: 270px;
  height: 234px;
  background: #f2f2f2;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  border: 1px solid #e3e3e39f;
 }
 
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 
 .img1{
  position: absolute;
  top: -40px;
  right: -50px;
}

.img2{
  position: absolute;
  bottom: -40px;
  left: -50px;
}

button{
  background: #22B286;
  border-radius: 25px;
  border: #22b286;
  font-size: larger;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 6px 12px;
  margin: 6px;
  transition: background ease 3ms;
}

.button:hover {
  background-color: #2e9474;
}


button:active{
  background-color: #1A906B;
}

.feature{
  margin: 55px 230px;
  display: flex;
  padding: 20px;
}

.featureText{
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

h2{
  color: #22B286;
  font-weight: 500;
  font-size: 30px;
}

.imageSection2{
  margin: 50px;
  padding: 40px;
}

.feature .imgBg {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 339px;
  background: #f2f2f2;
  /* border-radius: 10px; */
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  border: 1px solid #e3e3e39f;
 }
 
.img3{
  position: absolute;
  top: 20px;
  border-radius: 10px;
}

.ourBenefits{
  margin: 55px 230px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}























.card{
    width: 360px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    margin: 70px;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #30ba8eea;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
}

.card1:hover::after {
  font-size: 16px;
  font-weight:300 ;
  content: "Tailored suggestions just for you, making your choices easier.";
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card3:hover::after {
  font-size: 16px;
  font-weight:300 ;
  content: "Effortless booking made simple, your journey starts here.";
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card2:hover::after {
  font-size: 16px;
  font-weight:300 ;
  content: "Gain exclusive insider knowledge for a deeper understanding.";
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
