.contactUsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: #d3f3d3; /* Greenish background color */
    border-radius: 12px; /* Border radius for the whole section */
    width: 80%; /* Adjust the width */
    max-width: 600px; /* Limit the maximum width */
    height: 80%; /* Adjust the height */
    max-height: 600px; /* Limit the maximum height */
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
  }
  
  .contactUsHeading {
    text-align: left;
  }
  
  .ContactUsContainer {
    width: 100%;
    border-radius: 12px; /* Border radius for the whole section */
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  /* button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  