.contactUsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
    /* background-color: #d3f3d3; */
    border-radius: 12px;
    /* width: 80%; */
    /* max-width: 600px; */
    height: 80%;
    /* max-height: 600px;  */
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
   
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 20px;
    max-width: 70%;
    width: 500px;
    max-height: 70%;
    width: 600px; */
  }
  
  .contactUsHeading {
    text-align: left;
  }
  
  .ContactUsContainer {
    width: 100%;
    border-radius: 12px;
   
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  /* button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  
  .contactUsHeading h3 {
    font-size: 1.5rem; /* Adjust the font size */
  }
  
  .contactUsHeading p {
    font-size: 0.9rem; /* Adjust the font size */
  }