body{
    background: #f7fffbc2;
}

.contactUsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
    /* background-color: #d3f3d3; */
    border-radius: 12px;
    /* width: 80%; */
    /* max-width: 600px; */
    height: 80%;
    /* max-height: 600px;  */
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
   
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
  
  .contactUsHeading {
    text-align: left;
    padding: 20px;
  }
  
  .ContactUsContainer {
    width: 100%;
    border-radius: 12px;
   
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  form button{
    background: #22B286;
    border-radius: 25px;
    border: #22b286;
    font-size: larger;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 6px 12px;
    margin: 6px;
    transition: background ease 3ms;
  }
  
  button:active{
    background-color: #1A906B;
  }
  
  
  .contactUsHeading h3 {
    font-size: 1.5rem; 
  }
  
  .contactUsHeading p {
    font-size: 0.9rem; 
  }