.drop-container {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}

.drop-container.dragging {
    background-color: #f0f0f0;
}

.file-input {
    display: none;
}

.file-label {
    background: #22B286;
    border-radius: 25px;
    border: #22b286;
    font-size: larger;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 6px 12px;
    margin: 6px;
    width: 15%;
    transition: ease-out 0.2s;
}

.file-label:hover {
    background: #198754;
}



.image-previews {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.close-button {
    all: unset;
}