.CardDisplay {
    position: relative;
    margin-top: 50px;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.imageContainer {
    display: block;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    border-radius: 12px;
}

.image,
.imgObj {
    width: 100%;
}

.btn-on-img {
    position: absolute;
    top: 50%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.image-slider-btn {
    all: unset;
    cursor: pointer;
    padding: 1rem;
}


.image-slider-btn:hover,
.image-slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.descriptionDetail {
    width: 60%;
    margin: 20px auto;
    text-align: start;
}

.descriptionDetail h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.descriptionDetail p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}