.searchContainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.searchBox{
  display: flex;
  padding: 20px;
  margin: 30px;

}

.searchBox input{
  width: 1000px  ;
  border-radius: 10px;
  /* box-shadow: 0 0 50px 15px #a5a5a5; */
  border: 0.5px solid #80808057;
}


.searchBox input:focus{
  box-shadow: 0 0 50px 15px #a5a5a5;
  border: 0.5px solid whitesmoke;
}