

.searchContainer{
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  /* padding-bottom: 150px; */

}

.searchBox{
  display: flex;
  /* padding: 20px; */
  /* margin: 30px; */
  align-items: center;
}

.searchBox input{
  width: 500px  ;
  border-radius: 10px;
  border: 0.5px solid #80808057;
  height: 45px;
}


.searchBox input:focus{
  box-shadow:  0 0 20px 1px #14a44e4f;;
  border: 0.5px solid #30ba8eea;
}

.searchButton{
 background-color: #e8f3ee;
 color: #198754; 
 border: 1px solid #198754;
 border-radius: 8px;
}
.searchButton:hover{
  background-color: #198754;
  color: #fff;
}